root = true

# Source files look unixy by default
[*]
end_of_line = lf
insert_final_newline = true

# Javascript and Typescript look like Google-style
[*.{js,json,ts}]
charset = utf-8
indent_style = space
indent_size = 2
